.login-signup { 
    width: 100%; 
    height: 80vh; 
    background: #fce3fe; 
    padding-top: 100px; 

}
.loginsignup-container { 
    width: 580px; 
    height: 600px; 
    background: white; 
    border-radius: 15px;
    margin: auto; 
    padding: 40px 66px ; 
}

.loginsignup-container h1 { 
    margin: 20px 0px; 
}

.loginsingup-field { 
    display: flex; 
    flex-direction: column; 
    gap: 29px; 
    margin-top: 30px; 

}

.loginsingup-field input { 
    height: 60px; 
    width: 100%; 
    padding-left: 20px; 
    border: 1px solid #c9c9c9; 
    outline: none; 
    color: #5c5c5c; 
    font-size: 18px; 

}

.loginsignup-container button { 
    width: 580px; 
    height: 72px; 
    color: white; 
    background: #ff4141; 
    margin-top: 30px; 
    border: none; 
    border-radius: 20px; 
    font-size: 20px; 
    font-weight: 500;
    cursor: pointer; 

}

.loginsingup-login { 
    margin-top: 20px; 
    color: #5c5c5c; 
    font-size: 18px; 
    font-weight: 500; 
}


.loginsingup-login  span  { 
    color: #ff4141; 
    font-weight: 600;
}

.loginsingup-agree {
    display: flex; 
    gap: 20px; 
    align-items: center; 
    color: #5c5c5c; 
    font-size: 18px; 
    margin-top: 25px;
    font-weight: 500; 
}
